html{
    background-image: url("/resource/images/back.jpg");
    background-size: cover;
}
h1{
    color: #fff;
}
body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    /*background-color: dodgerblue;*/
    background-color: #1e90ff8c;
}
.left_main_area{
    float: left;
    width: 700px;
    height: 400px;
}
.right_main_area{
    float: left;
    width: 260px;
    height: 400px;
}
.center_main_area{
    width: 1024px;
    margin: auto;
}
.signin_area{
    margin-top: 200px;
    height: 200px;
}
.reg{
    margin-top: 140px;
}
p{
    color: #fff;
}
.login_fields{
    display: block;
    width: 200px;
    margin-bottom: 10px;
    height: 30px;
}
.login_buttons{
    padding: 10px;
    border: 0;
    background-color: darkorange;
    color: #fff;
}
.login_buttons:hover{
    cursor: pointer;
}
.logo{
    margin-top: 250px;
}
.change_language{
    float: right;
    margin-right: 10px;
}