.add_new_course {
    display: none;
    padding-top: 10px;
}
body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    color: #fff;
    /*background-color: #1e90ff8c;*/
    background-color: #000000d1;
}
.center_main_area{
    width: 1024px;
    margin: auto;
}
.change_language{
    float: right;
    margin-right: 10px;
}
.center_field {
    height: 100px;
    width: 1024px;
    margin: auto;
}
.ended_courses_info{
    display: none;
    padding: 10px;
}
form {
    display: initial;
}
.form_label{
    margin-bottom: 10px;
}
.go_to_course > .buttons{
    width: 190px;
    margin: 5px;
}
.courses_info {
    padding: 10px;
}
input[type="submit"][disabled]{
    background-color: grey;
}
h1{
    color: #fff;
}
html{
    background-image: url("/resource/images/back.jpg");
    background-size: cover;
}
.left_main_area{
    float: left;
    width: 700px;
    height: 400px;
}
.login_fields{
    display: block;
    width: 200px;
    margin-bottom: 10px;
    height: 30px;
}
.login_buttons{
    padding: 10px;
    border: 0;
    /*background-color: darkorange;*/
    background-color: #002d90a8;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    transition: ease-out 500ms;
}
.login_buttons:hover{
    cursor: pointer;
    background-color: #0050ff;
    transition: ease-in 500ms;
}
.logo{
    margin-top: 250px;
}
p{
    color: #fff;
}
.right_main_area{
    float: left;
    width: 260px;
    height: 400px;
}
.signin_area{
    margin-top: 200px;
    height: 200px;
}
.signup_area{
    margin-top: 150px;
    height: 200px;
}
.show_student_list {
    display: none;
    padding: 10px;
}
table, th, td {
    border: thin solid rgba(0, 0, 0, 0);
}
table {
    border-collapse: collapse;
    margin-bottom: 10px;
}
td, th {
    width: 200px;
    height: 30px;
    text-align: center;
}
tr {
    background-color: #6f6f6fad;
}
tr:nth-child(even) {
    background-color: #ffffff33;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    /*background-color: darkorange;*/
    background-color: #002d90a8;
    color: white;
}
.user_info {
    border: thin solid #ffffff40;
    padding: 10px;
    margin: 10px;
    height: max-content;
    float: right;
    position: relative;
}
h3, p {
    margin: 0;
    display: inline-block;
}
.switcher {
    margin-top: 15px;
    display: inline-block;
}
.buttons{
    padding: 10px;
    border: 0;
    /*background-color: darkorange;*/
    background-color: #002d90a8;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    transition: ease-out 500ms;
}
.buttons, .finish_button {
    padding: 10px;
    border: 0;
    /*background-color: darkorange;*/
    background-color: #002d90a8;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
.buttons:hover {
    cursor: pointer;
    background-color: #0050ff;
    transition: ease-in 500ms;
}
h4 {
    margin-bottom: 18px;
}
.new_course_inputs {
    display: block;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.finish_button {
    background-color: #002d90a8;
}
.table_edit {
    width: 50px;
}
.center_field{
    height: 100px;
    width: 1024px;
    margin: auto;
    height: -webkit-fill-available;
}
.signin_button{
    margin-top: 255px;
    float: right;
}

.long_button{
    width: 190px;
}

.student_list_text{
    height: 35px;
    width: 200px;
    margin: 5px;
}
select{
    padding: 7px;
}